<div class="container">
  <div class="row">
    <%= render 'layouts/common_sidebar', user: current_user, book: @book %>
    <div class="col-xs-9">

      <h2>Users List</h2>
      <p></p>
      <ul>
        <% @users.each do |user| %>
        <li> <%= link_to user.name, user %></li>
        <% end %>
      </ul>

    </div>
  </div>
</div>
