<div class="container">
  <div class="row">
    <div class="col-xs-9">
      <h2>Name</h2>
      <h4><%= @book.title %></h2>
      <p>Find me in app/views/books/show.html.erb</p>
      <h2>Review</h2>
      <h4><%= @book.opinion %></h2>
    </div>
  </div>
</div>
