/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

/*--------------- Common ---------------*/
* {
	box-sizing: border-box
}

header .navbar-left span {
	font-size: 20px;
	padding-top: 10px;
}

div {
	display: block;
}

.navbar {
	border-radius: 0px;
}

.nav {
	list-style: none;
}

.nav>span {
	color: white;
}

.navbar-inverse {
	background-color: #222;
	boder-color: #090909;
}

.navbar-inverse .navbar-nav>li>a {
	color: #9d9d9d;
}

.navbar-nav>li>a {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 20px;
}

/*---------- Message ---------------*/
.alert-success {
	margin: 5px auto;
	padding: 10px 10px;
}

/*-------- ErrorHandling --------*/
.error-box{
	border: 2px solid #ff0000;
	width: 300px;
}
.error-title{
 	color: #fff;
 	background-color: #cc0000;
 	padding: 10px;
}

.error-box-text{
	font-size: 13px;
	background-color: #eeeeee;
	// padding: auto;
}
.error-text{
	line-height: 1.5;
	// margin-left: 10px;
}
.error-text:first-child{
	padding-top: 15px;
}
.error-text:last-child{
	padding-bottom: 15px;
}

.error-box-text
li{
	list-style-type: square;
}

.error-title-text{
	background-color: #ff0000;
	width: 35px;
	font-size: 15px;
}

