// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

/*---------- Session ---------------*/
.field {
	margin: 2px auto;
}
.actions {
	margin-bottom: 10px;
}

/*---------- User_Common ---------------*/

.col-xs-3 th {
	padding: 8px;
	border-top: 1px solid #dddddd;
}

/*---------- User_Show ---------------*/

.col-xs-9 th {
	padding: 8px;
	border-bottom: 1px solid #dddddd;
}

.col-xs-9 td {
	border-bottom: 1px solid #dddddd;
}

table {
  width: 70%;
}

td {
	margin: 33px;
	padding: 8px;
	height: 60px;
	vertical-align: center;
	border-bottom: 1px solid #dddddd;
}

.user-index:nth-child(1) {
	width: 160px;
}
.user-index:nth-child(2) {
	width: 130px;
}
.user-index:nth-child(3) {
	width: 190px;
}

.window {
	margin-bottom: 10px;
}
.pic {
	margin: 3px auto;
	padding: 3px;
}

/*---------- User_Index ---------------*/
.users-index:nth-child(1) {
	width: 200px;
}
.users-index:nth-child(2) {
	width: 220px;
}
.users-index:nth-child(3) {
	width: 95px;
}

